:host {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    position: relative;
}

.amx-grid_above-table--container {
    background: var(--mat-table-background-color, #fff);
    display: flex;
    flex-direction: column;
    top: 0px;
}

.amx-grid_filters--container,
.amx-grid_total-results--container {
    border-bottom: var(--mat-table-row-item-outline-width, 1px) solid
        var(
            --mat-table-row-item-outline-color,
            var(--mat-sys-outline, rgba(0, 0, 0, 0.12))
        );
}

.amx-grid_total-results--container {
    align-items: center;
    color: #999;
    display: flex;
    font-size: var(
        --mat-table-row-item-label-text-size,
        var(--mat-sys-body-medium-size, 14px)
    );
    gap: 16px;
    padding: 16px 24px;
}

.amx-grid_collapsed-data-row,
.amx-grid_collapsed-group-row {
    display: none;
}

.amx-grid_group-cell--wrapper {
    display: flex;
    align-items: center;
}

/**
 * This allows us to override the inline styling
 * that mat-table applies for sticky header rows
 */
:host ::ng-deep .mat-mdc-header-row {
    top: var(--amx-sticky-header-top, 0px) !important;
}
