<div class="amx-grid-wrapper">
    <mat-table>
        <ng-container
            *ngFor="let column of api.columns.columnDefintions"
            [matColumnDef]="column.id"
            [sticky]="column.sticky === 'left'"
            [stickyEnd]="column.sticky === 'right'"
        >
            <mat-header-cell *matHeaderCellDef>
                {{ column.headerName ?? column.field }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{ element[column.field] }}
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="api.columns.matColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: api.columns.matColumns"></mat-row>
    </mat-table>
</div>
